body {
  font-family: "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  color: #2c2c2c;
  text-align: center;
  background: linear-gradient(to right, #f3a183, #af8c7b);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("Assets/Parfume_Bg.jpg") no-repeat center center/cover;
  filter: blur(10px);
  z-index: -1;
  opacity: 0.8;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

header {
  background-color: #c4a484;
  color: white;
  padding: 15px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

header h1 {
  font-family: "Georgia", serif;
  font-size: 2.5em;
}

header.small {
  padding: 5px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  display: none;
  width: 100px;
  height: 100px;
}

header.small .header-logo {
  display: inline;
}

header.small h1 {
  font-size: 2em;
  margin-left: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffd700;
}

.hero {
  color: white;
  padding: 50px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hero h2 {
  font-family: "Georgia", serif;
  font-size: 2.5em;
  margin-top: 70px;
}

.shop-products {
  color: white;
  padding: 50px 20px;
  top: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.shop-products h2 {
  font-family: "Georgia", serif;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #ffd700;
}

.products {
  padding: 20px;
}

.shop-products {
  padding: 20px;
}

.products h3 {
  font-family: "Georgia", serif;
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffd700;
}

.product-card {
  display: inline-block;
  background: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  opacity: 0;
  transform: translateY(50px);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.product-card.animate.active {
  animation: fadeInUp 0.5s ease-out forwards;
}

.product-card.animate.inactive {
  animation: fadeOutDown 0.5s ease-out forwards;
}

.product-card h4 {
  font-family: "Georgia", serif;
  font-size: 1.5em;
  margin: 10px 0;
  color: #6b4226;
}

.product-card p {
  color: #6b4226;
}

.product-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.bestseller {
  width: 300px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.8)
  );
  padding: 30px;
}

.bestseller-tag {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ffd700;
  color: #2c2c2c;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.head2 {
  color: white;
  padding-top: 130px;
}

.head2 h2 {
  font-family: "Georgia", serif;
  font-size: 2.5em;
}

/* Shop Styles */
.shop-link {
  text-decoration: none;
}

.shop-link .shop-product-card:hover {
  transform: translateY(-5px);
}

.shop-product-card {
  display: inline-block;
  background: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
}

.shop-product-card:hover {
  transform: translateY(-5px);
}

.shop-product-card h4 {
  font-family: "Georgia", serif;
  font-size: 1.5em;
  margin: 10px 0;
  color: #6b4226;
}

.shop-product-card p {
  color: #6b4226;
}

.shop-product-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.bestseller2 {
  width: 300px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.8)
  );
  padding: 30px;
}

.bestseller-tag2 {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ffd700;
  color: #2c2c2c;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.contact {
  padding: 50px 20px;
  color: white;
}

.contact h2 {
  font-family: "Georgia", serif;
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: 112px;
}

.contact p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.contact ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.2em;
}

.contact ul li {
  margin-bottom: 10px;
}

.contact ul li a {
  color: #c4a484;
  text-decoration: none;
}

.contact ul li a:hover {
  color: #af8c7b;
  text-decoration: underline;
}

footer {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  width: 100%;
  margin-top: auto;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}

footer p {
  margin: 0;
}


/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s;
}

.modal.show {
  display: block;
  opacity: 1;
}

.modal.hide {
  opacity: 0;
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  text-align: center;
  transform: scale(0.7);
  transition: transform 0.5s;
}

.modal.show .modal-content {
  transform: scale(1);
}

.modal.hide .modal-content {
  transform: scale(0.7);
}

.modal-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#modal-bestseller {
  display: inline-block;
  background: #ffd700;
  color: #2c2c2c;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 11;
  max-width: fit-content;
  white-space: nowrap;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

body.modal-open {
  overflow: hidden;
}

body.modal-open::before {
  filter: blur(10px);
}


/*KP DAN S&K */
.PT {
  padding-top: 150px;
}

.privacy-policy {
  color: #ffffff;
}

.terms-conditions {
  color: #ffffff;
  padding-top: 150px;
}

.privacy-policy h2,
.terms-conditions h2 {
  color: #ffd700;
}

.privacy-policy h3,
.terms-conditions h3 {
  color: #87ceeb;
}

.privacy-policy p,
.terms-conditions p {
  color: #ffffff;
}

.privacy-policy a,
.terms-conditions a {
  color: #87ceeb;
  text-decoration: underline;
}

.privacy-policy a:hover,
.terms-conditions a:hover {
  color: #ffd700;
}
